<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap.js"></script>
<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-transition.js"></script>
<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-carousel.js"></script>

<script src="js/jquery.js"></script>




<div class="center hero-unit">
  <h1>Welcome to PicBlog</h1>

  <h2>
    Its a Wargamers PicLog
  </h2>

    <!-- Carousel begin-->

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>



    <!-- Carousel begin-->
 <div class="hero-unit">
<div id="myCarousel" class="carousel slide offset2">

<script>
$('.carousel').carousel({
interval: 1000
})​
</script>


<!-- Carousel items -->
    

<div class="carousel-inner">
<div class="active item"><%= link_to image_tag("0.png") %><div class="carousel-caption">


                <h4>See that !!</h4>
                <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </p>
            </div>

</div>


<div class="item"><%= link_to image_tag("0.png") %></div>
<div class="item"><%= link_to image_tag("0.png") %></div>
<div class="item"><%= link_to image_tag("0.png") %></div>
<div class="item"><%= link_to image_tag("0.png") %></div>

</div> 


<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>


</div>
</div>
</div>


<!-- Link for Picture -->

<div style="text-align: center;"><%= link_to image_tag("logo.png"), 'http://tebeling.heroku.com' %>
</div>
